html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: url(images/lake.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.titlepage {
  height: 100%;
  color: black;
}

.titlebox, .titlebox_subtitle {
  font-family: 'Lora', serif;
}

.titlebox {
  position: relative;
  padding: 25pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  text-align: center;
  background: rgba(256, 256, 256, 1.0);
  border-radius: 6vw;
  font-size: 30vw;
  display: inline-block;
}

.titlebox_subtitle {
  position: relative;
  font-size: 5vw;
  top: -5vw;
}

.titlebox_padding { min-height: 20%; }
.titlebox_container { min-height: 48%; }
.newsbox_container { min-height: 12%; margin-top: 5pt; }

.newsbox, .blackbox {
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
}

.newsbox {
  position: relative;
  padding: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  text-align: center;
  background: rgba(256, 256, 256, 1.0);
  border-radius: 4pt;
  display: inline-block;
}

.linkbox {
  display: inline-block;
}

.blackbox {
  margin: 3pt;
  padding: 8pt;
  padding-left: 15pt;
  padding-right: 15pt;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4pt;
  color: white;
  font-color: white;
  display: inline-block;
}

.toprightcorner {
  position: fixed;
  top:0px;
  right:0px;
}

.page {
  padding-bottom: 35pt;
  text-align: center;
}

.textbox {
  text-align: left;
  margin: 10pt;
  margin-bottom: 20pt;
  padding: 8pt;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 30pt;
  border-radius: 14pt;
  display: inline-block;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(255, 255, 255);
  max-width: 85vw;
}

.lastpage {
  background-color: rgba(0, 0, 0, 0.5); /**/
  padding: 20pt;
  padding-left: 60pt;
  padding-right: 40pt;
  text-align: left;
  color: white;
}

h1 {
  position: relative;
  font-size: 32pt;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0pt;
  margin: 0pt;
  margin-top: 15pt;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(230, 0, 0, 1.0);
  font-size: 16pt;
}

a {
  color: rgba(70, 110, 200, 1.0);
}

.logo {
  margin: 15pt;
}

pre, code {
  color: white;
  border-radius: 3pt;
  background-color: rgb(100,100,100);
}

pre {
  padding: 4pt;
  padding-left: 1vw;
  overflow-x: scroll;
}

code {
  padding-left: 4pt;
  padding-right: 4pt;
}

h1, h2 {
  font-family: 'Bree Serif', serif;
}

li {
  padding-bottom: 6pt;
}

.mobile_version { visibility: visible; color: white; }
.desktop_version { visibility: hidden; color: white; }

@media screen and (min-width: 600px) {
  /* the follow applies for desktops */
  .titlebox {
    border-radius: 4vw;
    font-size: 15vw;
  }
  .titlebox_subtitle {
    position: relative;
    font-size: 2.5vw;
    top: -2.5vw;
  }
  .textbox {
    margin-left: 0pt;
    margin-right: 0pt;
    width:60%;
    min-width: 400px;
    padding-left: 45pt;
    padding-right: 45pt;
  }
  .mobile_version { visibility: hidden; }
  .desktop_version { visibility: visible; }
}
