html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: url(images/lake.jpg) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  box-sizing: content-box;
}

.titlepage {
  height: 100%;
  color: black;
}

.titlebox {
  position: absolute;
  padding: 25pt;
  padding-top: 0pt;
  padding-bottom: 10pt;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(256, 256, 256, 1.0);
  border-radius: 25px;
  font-size: 100pt;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.titlebox_subtitle {
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: -7pt;
}

.newsbox {
  position: absolute;
  padding: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(256, 256, 256, 1.0);
  border-radius: 4pt;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.linkbox {
  position: relative;
  text-align: center;
  top: 80%;
  transform: translateY(-50%);
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.blackbox {
  margin: 3pt;
  padding: 8pt;
  padding-left: 15pt;
  padding-right: 15pt;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4pt;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-color: white;
  display: inline-block;
}

.toprightcorner {
  position: fixed;
  top:0px;
  right:0px;
}

.page {
  padding-bottom: 35pt;
  text-align: center;
}

.textbox {
  text-align: left;
  margin: 10pt;
  margin-bottom: 20pt;
  padding: 8pt;
  padding-left: 45pt;
  padding-right: 45pt;
  padding-bottom: 30pt;
  border-radius: 14pt;
  width:60%;
  display: inline-block;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(255, 255, 255);
}

.lastpage {
  background-color: rgba(0, 0, 0, 0.5); /**/
  padding: 20pt;
  padding-left: 60pt;
  padding-right: 40pt;
  text-align: left;
  color: white;
}

h1 {
  position: relative;
  font-size: 30pt;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0pt;
  margin: 0pt;
  margin-top: 15pt;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(230, 0, 0, 1.0);
  font-size: 14pt;
}

a {
  color: rgba(70, 110, 200, 1.0);
}

.logo {
  margin: 15pt;
}

pre, code {
  color: white;
  border-radius: 3pt;
  background-color: rgb(100,100,100);
}

pre {
  padding: 4pt;
  padding-left: 30pt;
}

code {
  padding-left: 4pt;
  padding-right: 4pt;
}

h1, h2 {
  font-family: 'Bree Serif', serif;
}

.titlebox, .titlebox_subtitle {
  font-family: 'Lora', serif;
}
