html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

.titlepage {
  background: url(lake.jpg) no-repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
}

.titlebox {
  position: absolute;
  padding: 25pt;
  padding-top: 15pt;
  padding-bottom: 10pt;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(256, 256, 256, 1.0);
  border-radius: 25px;
  font-size: 80pt;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.titlebox_subtitle {
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: -7pt;
}

.newsbox {
  position: absolute;
  padding: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(256, 256, 256, 1.0);
  border-radius: 4pt;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.linkbox {
  position: relative;
  text-align: center;
  top: 80%;
  transform: translateY(-50%);
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.blackbox {
  margin: 3pt;
  padding: 8pt;
  padding-left: 15pt;
  padding-right: 15pt;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4pt;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-color: white;
  display: inline-block;
}

.toprightcorner {
  position: absolute;
  top:0px;
  right:0px;
}

.page {
  height: 100%;
  background-color: white;
  padding: 20pt;
  padding-left: 50pt;
  padding-right: 50pt;
  text-align: left;
}

.lastpage {
  background-color: rgba(50, 50, 50, 1.0);
  padding: 20pt;
  padding-left: 50pt;
  padding-right: 50pt;
  text-align: left;
  color: white;
}

h1 {
  font-size: 30pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 35pt;
  padding-left: 15pt;
  padding-right: 15pt;
}
